* {
    box-sizing: border-box;
}

.container {
    background-color: black;
    color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contain {
    margin-left: 10px;
    padding-top: 20px;
}

.contain2 {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 10px;
}

#segundotit {
    width: 100%;
    background-color: rgba(103, 128, 87, 255);
}

#segundotit div:hover {
    color: rgb(174, 145, 242);
    background-color: rgb(127, 225, 194);
}

#segundotit div {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding: 10px;
}

#menu {
    margin-top: 20px;
    background-color: rgb(180, 178, 178);
    float: left;
    text-align: center;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 110px;
}

#menu h4 {
    margin-bottom: 1px;
}

#menu img {
    width: 80%;
    padding-bottom: 10px;
}

.imagenesies {
    float: left;
    margin-top: 30px;
}

.imagenesies img {
    margin-left: 40px;
    width: 80%;
}

.calendario {
    background-color: rgb(180, 178, 178);
    float: right;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding-bottom: 100px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.calendario h4 {
    margin-bottom: 1%;
}

.calendario img {
    height: 80px;
    width: 140px;
    padding-right: 10px;
}

#arbol {
    clear: both;
    background-color: rgb(180, 178, 178);
    margin-top: 9px;
    margin-bottom: 20px;
}

#arbol ul {
    list-style: none;
    color: rgba(103, 128, 87, 255);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 12.5px;
    font-weight: lighter;
}

#arbol span {
    color: black;
    font-weight: bold;
}

#arbol img {
    margin-right: 7px;
    margin-top: 60px;
    width: 50px;
    float: right;
}

#categorias {
    clear: both;
    background-color: rgb(180, 178, 178);
    margin-top: 20px;
    font-weight: bold;
    font-size: 12.5px;
}

.final {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.final p {
    margin-bottom: 0%;
}

.final img {
    width: 70px;
    text-align: center;
}